@import "tailwindcss";

.click-animation {
	position: absolute;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #00ff88;
	transform: translate(-50%, -50%) scale(0);
	animation: click-effect 0.4s ease-out;
	pointer-events: none;
}

@keyframes click-effect {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}

	40% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.5;
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}