name: Build and Release
permissions:
  contents: read

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - main

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Install dependencies
      run: |
        npm install
        cd webview-ui && npm install

    - name: Lint
      run: |
        npm run lint || true
        cd webview-ui
        npm run lint || true

  security:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Install dependencies
      run: |
        npm install
        cd webview-ui && npm install

    - name: Security
      run: |
        npm audit
        cd webview-ui && npm audit

  build:
    runs-on: ubuntu-latest
    needs: [lint, security]
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Update package.json version from release tag
      if: github.ref_type == 'tag'
      run: |
        VERSION=${{ github.ref_name }}
        VERSION=${VERSION#v}
        npm version $VERSION --no-git-tag-version
        git diff

    - name: Install dependencies
      run: |
        npm install
        cd webview-ui && npm install

    - name: Build
      run: |
        make
        ls -l *.vsix

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: mobiledeck
        path: |
          mobiledeck*.vsix
        retention-days: 2
        overwrite: true

  publish-vscode-marketplace:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [build]
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Download build artifact
      uses: actions/download-artifact@v4
      with:
        name: mobiledeck

    - name: Update package.json version from release tag
      run: |
        VERSION=${{ github.ref_name }}
        VERSION=${VERSION#v}
        npm version $VERSION --no-git-tag-version
        git diff

    - name: Install dependencies
      run: |
        npm install
        cd webview-ui && npm install

    - name: Publish to VSCode Marketplace
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASES_TOKEN }}
      run: |
        VERSION=${{ github.ref_name }}
        VERSION=${VERSION#v}
        ls -l *.vsix
        
        npx vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath mobiledeck-darwin-x64-${VERSION}.vsix
        npx vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath mobiledeck-darwin-arm64-${VERSION}.vsix
        npx vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath mobiledeck-linux-x64-${VERSION}.vsix
        npx vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath mobiledeck-linux-arm64-${VERSION}.vsix
        npx vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath mobiledeck-win32-x64-${VERSION}.vsix

  publish-openvsx:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [build]
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Download build artifact
      uses: actions/download-artifact@v4
      with:
        name: mobiledeck

    - name: Publish to OpenVSX
      run: |
        VERSION=${{ github.ref_name }}
        VERSION=${VERSION#v}
        ls -l *.vsix
        
        npx ovsx publish mobiledeck-darwin-x64-${VERSION}.vsix -p ${{ secrets.OPENVSX_TOKEN }}
        npx ovsx publish mobiledeck-darwin-arm64-${VERSION}.vsix -p ${{ secrets.OPENVSX_TOKEN }}
        npx ovsx publish mobiledeck-linux-x64-${VERSION}.vsix -p ${{ secrets.OPENVSX_TOKEN }}
        npx ovsx publish mobiledeck-linux-arm64-${VERSION}.vsix -p ${{ secrets.OPENVSX_TOKEN }}
        npx ovsx publish mobiledeck-win32-x64-${VERSION}.vsix -p ${{ secrets.OPENVSX_TOKEN }}
